<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="PassedTests" verbose="1" >
    <test name="PassedTests" >
        <classes>
            <class name="epiesa.tests.login.LoginPageTests" />
            <class name="epiesa.tests.shoppingCart.ShoppingCartTests" />
        </classes>
    </test>
</suite>
